<!-- <mat-grid-list padding class="conteudo">
    <div no-padding fixed="md">
      <mat-row justify-content-center>
        <mat-col col-12 col-md-8 no-padding>
          <mat-list> -->

<mat-list>
  <mat-list-item *ngFor="let local of locais;">
      <div *ngIf="local.nome">{{local.nome}}</div>
      <!-- <div>{{local.valor}}</div> -->
  
      <button (click)="goToDetails(local)" mat-raised-button color="primary">Ver</button>
  
  </mat-list-item>
</mat-list>



<!-- <mat-card *ngFor="let local of locais;">
  <mat-card *ngIf="local.video">
    <div iframe-block-center [innerHtml]="local.video | sanitizeHtml"></div>
  </mat-card>
  <mat-card (click)="goToDetails(local)">
    <div>
      <div *ngIf="local.nome">{{local.nome}}</div>
      <div>{{local.valor}}</div>
      <button mat-raised-button color="primary">Ver</button>
    </div>
    
  </mat-card>
</mat-card>
 -->
<!-- </div>
          </mat-list>
        </mat-col>
      </mat-row>
    </div>
  </mat-grid-list> -->