.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

[title-bar]{
  display: flex;
  align-items: center;
  justify-content: space-between;
}