<mat-card *ngIf="estabelecimento" class="example-card">
  <mat-card-content>
    <h2 *ngIf="estabelecimento.nome">
      {{estabelecimento.nome}}
    </h2>
    <p *ngIf="estabelecimento.end">
      {{estabelecimento.end}}
    </p>
    <p *ngIf="estabelecimento.tel">
      <span center-vertical light>
        <mat-icon svgIcon="phone"></mat-icon>
        &nbsp;<a light href="tel:{{estabelecimento.tel}}">{{estabelecimento.tel}}</a>
      </span>
    </p>
    <p *ngIf="estabelecimento.whatsapp">
      <span center-vertical light>
        <mat-icon svgIcon="whatsapp" style="color: green"></mat-icon>
        &nbsp;<a light (click)="onClickWhatsApp()" href="#">{{estabelecimento.whatsapp}}</a>
      </span>
    </p>
    <p *ngIf="estabelecimento.valor">
      <span center-vertical light>
        <mat-icon svgIcon="cash" style="color: green"></mat-icon>
        &nbsp;{{estabelecimento.valor}}
      </span>
    </p>
    <p *ngIf="estabelecimento.crp">
      <span primary>CRP:</span>
      <span light>
        {{estabelecimento.crp}}
      </span>
    </p>
    <p *ngIf="estabelecimento.crm">
      <span primary>CRM:</span>
      <span light>
        {{estabelecimento.crm}}
      </span>
    </p>
    <ng-container *ngIf="estabelecimento.descricao_servicos">
      <span primary>Serviços:</span>
      <pre light [innerHtml]="estabelecimento.descricao_servicos | sanitizeHtml">
      </pre>
    </ng-container>
    <p *ngIf="estabelecimento.bairros_atendidos">
      <span primary>Bairros de Abrangência:</span>
      <span light>
        {{estabelecimento.bairros_atendidos}}
      </span>
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="estabelecimento.tel" mat-button (click)="onClickLigar()">
      <mat-icon svgIcon="phone"></mat-icon>
      Ligar
    </button>
    <button *ngIf="estabelecimento.whatsapp" mat-button (click)="onClickWhatsApp()">
      <mat-icon svgIcon="whatsapp" style="color: green"></mat-icon>
      Contactar pelo WhatsApp
    </button>
    <br>
    <br>
    <div style="text-align: center;">Indique este profissional ou clínica para quem está precisando usando os botões
      abaixo:</div>
    <br>

    <app-social-share [urlToBeShared]=UrlToBeShared()></app-social-share>

  </mat-card-actions>
</mat-card>

<div iframe-block-center *ngIf="estabelecimento.mapa" [innerHtml]="estabelecimento.mapa | sanitizeHtml">
</div>