<ion-header>
  <ion-navbar>
    <ion-title>Buscar</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="conteudo">
  <ion-grid no-padding fixed="md">
    <ion-row justify-content-center>
      <ion-col col-12 col-md-8 no-padding>
        <div padding>
          <ion-searchbar #searchBox placeholder="Buscar" (ionInput)="search(searchBox.value)">
          </ion-searchbar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-12 col-md-8 no-padding>
        <ion-list no-lines class="search-result">
          <ng-container *ngFor="let estabelecimento of estabelecimentos$ | async">
            <!-- Template 1 - INÍCIO -->
            <!-- <button ion-item (click)="mostrarDetalhes(estabelecimento)">
              {{ estabelecimento?.nome }} -
              <b color="primary">{{ estabelecimento?.valor }}</b>
            </button> -->
            <!-- Template 1 - FIM -->

            <ion-item-sliding margin-vertical>
              <ion-item padding>
                <h2 text-wrap>{{ estabelecimento?.nome }}</h2>
                <div text-wrap>{{ estabelecimento?.end }}</div>
                <div text-wrap primary>{{ estabelecimento?.valor }}</div>
                <button ion-button outline item-end (click)="mostrarDetalhes(estabelecimento)">Ver</button>
              </ion-item>
              <ion-item-options side="right">
                <!-- <button ion-button (click)="mostrarDetalhes(estabelecimento)">
                  <ion-icon name="more"></ion-icon>
                  Mais
                </button> -->
                <button ion-button outline color="primary" *ngIf="estabelecimento.whatsapp" (click)="onClickWhatsApp(estabelecimento)">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                  Whatsapp
                </button>
                <button ion-button color="secondary" *ngIf="estabelecimento.tel" (click)="onClickCall(estabelecimento)">
                  <ion-icon name="call"></ion-icon>
                  Ligar
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>