<div id="share-buttons" align="center">

  <!-- {{UrlToBeShared()}} -->

  <!-- Facebook -->
  <a href="{{'http://www.facebook.com/sharer.php?u=' + UrlToBeShared() + '&sdkpreparse'}}" target="_blank">
    <img src="assets/imgs/facebook.png" alt="Facebook" />
  </a>

  <!-- Twitter -->
  <a href="{{'https://twitter.com/share?url=' + UrlToBeShared() + '&amp;text=' + Titulo() +'&amp;hashtags=#psicohelpapp'}}"
    target="_blank">
    <img src="assets/imgs/twitter.png" alt="Twitter" />
  </a>

  <!-- LinkedIn -->
  <a href="{{'http://www.linkedin.com/shareArticle?mini=true&amp;url=' + UrlToBeShared()}}" target="_blank">
    <img src="assets/imgs/linkedin.png" alt="LinkedIn" />
  </a>

  <!-- Pinterest -->
  <a
    href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
    <img src="assets/imgs/pinterest.png" alt="Pinterest" />
  </a>

  <!-- Tumblr-->
  <a href="{{'http://www.tumblr.com/share/link?url=' + UrlToBeShared() + '&amp;title=' + Titulo()}}" target="_blank">
    <img src="assets/imgs/tumblr.png" alt="Tumblr" />
  </a>

  <!-- VK -->
  <a href="{{'http://vkontakte.ru/share.php?url=' + UrlToBeShared()}}" target="_blank">
    <img src="assets/imgs/vk.png" alt="VK" />
  </a>

</div>