<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      PsicHelp
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page conteudo">
  <div image-menu no-padding>
    <div card (click)="listar('Terapia individual')" style="background-image: url(assets/imgs/individual.jpg)">
      <div class="card-subtitle">Atendimento presencial</div>
      <div class="card-title">Individualizado</div>
    </div>
    <div card (click)="listar('Crianças e adolescentes')" style="background-image: url(assets/imgs/criancas-e-adolescentes.jpg)">
      <div class="card-subtitle">Terapia para</div>
      <div class="card-title">Crianças e Adolescentes</div>
    </div>
    <div card (click)="listar('Online')" style="background-image: url(assets/imgs/online.jpg)">
      <div class="card-subtitle">Atendimento</div>
      <div class="card-title">Online</div>
    </div>
    <div card (click)="listar('Terapia de Grupo')" style="background-image: url(assets/imgs/grupal.jpg)">
      <div class="card-subtitle">Terapia com</div>
      <div class="card-title">Grupos de ajuda</div>
    </div>
    <div card (click)="listar('Terapia Familiar')" style="background-image: url(assets/imgs/familiar.jpg)">
      <div class="card-subtitle">Terapia em</div>
      <div class="card-title">Família</div>
    </div>
    <div card (click)="listar('Terapia Conjugal')" style="background-image: url(assets/imgs/casal.jpg)">
      <div class="card-subtitle">Terapia para</div>
      <div class="card-title">Casais</div>
    </div>
    <div card (click)="listar('Orientação Profissional')" style="background-image: url(assets/imgs/profissional.jpg)">
      <div class="card-subtitle">Orientação</div>
      <div class="card-title">Profissional</div>
    </div>
    <div card (click)="listar('LGBT')" style="background-image: url(assets/imgs/lgbt.jpg)">
      <div class="card-subtitle">Suporte emocional e legal para</div>
      <div class="card-title">LGBT</div>
    </div>
    <div card (click)="listar('Drogas')" style="background-image: url(assets/imgs/drogas.jpg)">
      <div class="card-subtitle">Grupos de ajuda e clínicas</div>
      <div class="card-title">Álcool e outras drogas</div>
    </div>
    <div card (click)="listar('CAPS')" style="background-image: url(assets/imgs/caps.jpg)">
      <div class="card-subtitle">Centros de atenção</div>
      <div class="card-title">Psicossocial</div>
    </div>
    <div card (click)="listar('Planos de saúde - Psicologos')" style="background-image: url(assets/imgs/planos-de-saude.jpg)">
      <div class="card-subtitle">Psicólogos que atendem por</div>
      <div class="card-title">Planos de Saúde</div>
    </div>
  </div>
</ion-content>