.card-background-page {
    [image-menu] {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        // border: red;
        // border-style: solid;
    }
    [card] {
        display: flex;
        position: relative;
        height: 250px; // Expandem o card para ocupar toda a área
        width: 100%;
        max-width: 500px; // Ajustes na imagem de fundo
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        text-align: center;
        // border: green;
        // border-style: solid;
    }
    
    // Melhor responsividade em telas pequenas (<=sm)
    @media (max-width: 700px) {
      height: calc(100vw * 9/16); // matém a proporção da imagem "widescreen"
      font-size: 4vw;
    }
    .card-title {
        position: absolute;
        bottom: .6em;
        font-size: 2em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 2px 2px #000;
    }
    .card-subtitle {
        font-size: 1.5em;
        position: absolute;
        bottom: 2.5em;
        width: 100%;
        color: #fff;
        text-shadow: 2px 2px #000;
    }
}