<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      Detalhes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="estabelecimento" class="conteudo" padding>
  <ion-grid no-padding fixed="md">
    <ion-row justify-content-center>
      <ion-col col-12 col-md-8 no-padding>
        <ion-card>
          <ion-item bg-secondary *ngIf="estabelecimento.nome" text-wrap>
            <span light>{{estabelecimento.nome}}</span>
          </ion-item>
          <ion-item bg-secondary *ngIf="estabelecimento.end" text-wrap>
            <span light>
              <ion-icon name="pin" item-start></ion-icon>
              {{estabelecimento.end}}
            </span>
          </ion-item>
          <ion-item bg-secondary *ngIf="estabelecimento.tel" text-wrap>
            <span light>
              <ion-icon name="md-call" item-start></ion-icon>
              <a light href="tel:{{estabelecimento.tel}}">{{estabelecimento.tel}}</a>
            </span>
          </ion-item>
          <ion-item bg-secondary *ngIf="estabelecimento.whatsapp" text-wrap>
            <span light>
              <ion-icon name="logo-whatsapp" item-start></ion-icon>
              <a light href="tel:{{estabelecimento.whatsapp}}">{{estabelecimento.whatsapp}}</a>
            </span>
          </ion-item>
          <ion-item bg-secondary *ngIf="estabelecimento.email" text-wrap>
            <span light>
              <ion-icon name="md-mail" item-start></ion-icon>
              <a light href="mailto:{{estabelecimento.email}}">{{estabelecimento.email}}</a>
            </span>
          </ion-item>
          <ion-item bg-secondary *ngIf="estabelecimento.valor" text-wrap>
            <span light>
              <ion-icon name="md-cash" item-start></ion-icon>
              {{estabelecimento.valor}}
            </span>
          </ion-item>
          <ion-item light *ngIf="estabelecimento.descricao_servicos" text-wrap bg-secondary>
            <div>
              <span primary>Serviço:</span>
              <span light>
                {{estabelecimento.descricao_servicos}}
              </span>
            </div>
          </ion-item>
          <ion-item light *ngIf="estabelecimento.bairros_atendidos" text-wrap bg-secondary>
            <span primary>Bairros de Abrangência:</span>
            <span light>
              {{estabelecimento.bairros_atendidos}}
            </span>
          </ion-item>
        </ion-card>
        <ion-card>
          <div iframe-block-center *ngIf="estabelecimento.mapa" [innerHtml]="estabelecimento.mapa | sanitizeHtml">
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>