<ion-header>
  <ion-navbar>
    <ion-title class="titulo">Locais</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="conteudo">
  <ion-grid no-padding fixed="md">
    <ion-row justify-content-center>
      <ion-col col-12 col-md-8 no-padding>
        <ion-list>
          <div *ngFor="let local of locais;">
            <ion-card *ngIf="local.video">
              <div iframe-block-center [innerHtml]="local.video | sanitizeHtml"></div>
            </ion-card>
            <button *ngIf="local.nome" ion-item color="secondary" (click)="mostrarDetalhes(local)" text-wrap>
              {{local.nome}} -
              <b primary>{{local.valor}}</b>
            </button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>